.cartContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -2px 4px 33px 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #dadada;

}

.cartContainer img {
    width: 70px;
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 300px;
    box-shadow: -2px 4px 33px 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #dadada;
    border-radius: 5px;
    margin: 10px;
}