.detailContainer{
    max-width: 600px;
    color: black;
    display: flex; 
    box-shadow: -2px 4px 33px 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #dadada;

}

.detailContainer img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.detailContainer .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}

.detailContainer .card-footer{
    background-color: transparent;
    border-top:0;
}

.detailContainer .card-footer a{
    text-decoration: none;
    color: black;
}