.imgCarrito{
    display: flex;
    height: auto;
    align-items: center;
    text-decoration: none;
    color: black;

}

.imgCarrito img{
    max-width: 40px;
    height: auto;
    padding: 5px;
}
