.cardContainer{
    max-width: 400px;
    color: black;
    margin: 5px;
}

.cardContainer img{
    width: 400px;
    height: 20vw;
    object-fit: cover;
    
}

.cardContainer .boton{
    text-decoration: none;
    color: black;
}

