.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: aliceblue;
    color: black;
    position: absolute;
    top: 0;

}

.navBar .menu{
    display: flex;
    justify-content: space-evenly;
    width: 50%;

}
