.footer {
    margin-top: 20px;
    padding: 20px;
    box-shadow: -2px 4px 33px 1px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #dadada;
    display: flex;
    justify-content: center;
}

.footer a {
    color: black;
    text-decoration: none;
}