.contenedorBotones {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: none;
    text-decoration: none;
}

.contenedorBotones .contenedorCount{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.contenedorBotones .contenedorCount p{
    width: 40px;
}

.contenedorBotones .contenedorCount button{
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}

